<div class="w-full max-w-lg lg:max-w-3xl mb-24 lg:mb-0 my-2 mx-auto overflow-hidden">

    <div #carousel class="flex transition-transform duration-700">
        <div class="w-full flex-shrink-0">
            <img src="assets/images/local_outside_2.jpg" class="w-full rounded-lg">
        </div>
        <div class="w-full flex-shrink-0">
            <img src="assets/images/local_3.jpeg" class="w-full rounded-lg">
        </div>
        <div class="w-full flex-shrink-0">  
            <img src="assets/images/local_outside.jpg" class="w-full rounded-lg">
        </div>
    </div>

</div>