<nav class="w-full bg-orange-600/75 text-white fixed flex justify-center items-center bottom-0 lg:top-0 lg:h-fit z-20">
    <ul class="container flex justify-around p-10 text-2xl">
        
        <li class="hover:text-amber-200 underline decoration-white cursor-pointer">
            <a routerLink="home">
                
                <p class="hidden lg:inline">Home</p>
                <img class="size-16 inline lg:hidden " src="images/icon_hop.png">
            
            </a>
        </li>     
        
        <li class="hover:text-amber-200 underline decoration-white cursor-pointer">
            <a routerLink="menu">
                
                <p class="hidden lg:inline">Nuestras delicias</p>
                <img class="size-16 inline lg:hidden " src="images/icon_burger.png">
            
            </a>
        </li>     

        <li class="hover:text-amber-200 underline decoration-white cursor-pointer">
            <a routerLink="local">

                <p class="hidden lg:inline">Nuestro local</p>
                <img class="size-16 inline lg:hidden " src="images/icon_beer_store.png">

            </a>
        </li>
    </ul>
</nav>