<main class="h-screen bg-black flex justify-center items-center flex-col bg-[url('images/local_2.webp')] bg-cover bg-center">
    <div class="absolute inset-0 bg-black/50"></div>

    <p class="text-center text-white text-2xl mt-10 z-10">Te esperamos en nuestro local en la calle Corrientes 😎</p>

    <h2 class="text-center text-white text-2xl lg:text-3xl z-10 mt-4">Horarios:</h2>

    <table class="table-auto z-10 text-white text-xl lg:text-2xl bg-sky-600/50 rounded-lg">
        <tbody>
            <tr>
                <td class="p-2">🍹 Lunes a jueves:</td>
                <td class="font-semibold p-2">17:00 - 23:30 🍹</td>
            </tr>
            <tr>
                <td class="p-2">🍻 Viernes y sábado:</td>
                <td class="font-semibold p-2">17:00 - 02:00 🍻</td>
            </tr>
            <tr>
                <td class="p-2">🥃 Domingo:</td>
                <td class="font-semibold p-2">17:00 - 22:00 🥃</td>
            </tr>
        </tbody>
    </table>

    <div class="w-full max-w-4xl h-1/3 lg:h-1/2 mb-24 lg:mb-0  my-2 mx-auto overflow-hidden z-10">

        <div id="carousel" class="flex transition-transform duration-700">
            <div class="w-full flex-shrink-0">
                <img src="images/local_outside_2.jpg" class="w-full rounded-lg">
            </div>
            <div class="w-full flex-shrink-0">
                <img src="images/local_3.jpeg" class="w-full rounded-lg">
            </div>
            <div class="w-full flex-shrink-0">  
                <img src="images/local_outside.jpg" class="w-full rounded-lg">
            </div>
        </div>

    </div>
    
</main>
