<table class="table-auto text-white text-xl lg:text-2xl bg-sky-600/50 rounded-lg z-10">
    <tbody>
        <tr>
            <td class="p-2">🍹 Lunes a jueves:</td>
            <td class="font-semibold p-2">17:00 - 23:30 🍹</td>
        </tr>
        <tr>
            <td class="p-2">🍻 Viernes y sábado:</td>
            <td class="font-semibold p-2">17:00 - 02:00 🍻</td>
        </tr>
        <tr>
            <td class="p-2">🥃 Domingo:</td>
            <td class="font-semibold p-2">17:00 - 22:00 🥃</td>
        </tr>
    </tbody>
</table>