<main class="h-screen bg-black flex justify-center items-center flex-col bg-[url('images/local_1.jpg')]  bg-cover bg-center">
    <section class="size-96 rounded-full flex justify-center items-center flex-col bg-orange-600/75">
        <h1 class="text-center text-white font-mono text-6xl z-10" style="font-family: 'Lobster'">IPA LAND</h1>
        <img class="z-10 h-1/2" src="images/logo.png" alt="lupulo">
        <h2 class="font-mono text-center text-white text-2xl font-medium z-10">Brewing Company</h2>
    </section>
    <p class="text-center text-white text-2xl lg:text-3xl italic bg-slate-700/75 my-10">IPA LAND es donde la pasión por la cerveza artesanal cobra vida. Sabores únicos, ingredientes seleccionados y una experiencia que trasciende el vaso.</p>
</main>