<div class="bg-slate-300 p-4 overflow-auto pb-32 lg:pb-0 lg:mt-28 h-screen">
    <h2 class="text-2xl mb-4">Lista de cervezas cargadas</h2>

    <p class="font-semibold">Clave de seguridad</p>
    <input type="password" placeholder="Ingresa la clave de seguridad" class="my-1 block w-80 lg:w-96 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-400" #securityWord (keyup)="setSecurityWord(securityWord.value)">

    <app-beer-table (beerToEdit)="beerToEdit = $event" [securityWord]="this.securityWord" />        
    
    <app-beer-form [beerToEdit]="beerToEdit" [securityWord]="this.securityWord" (beerUpdated)="onBeerUpdated()"></app-beer-form>
    
</div>
